xsd/ActivityNote.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.aapt.com.au/FrontierLink/xsd"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:wsg="http://www.aapt.com.au/FrontierLink/xsd"
            elementFormDefault="qualified">

    <xsd:complexType name="ActivityNote">
        <xsd:sequence>
            <xsd:element name="notes" type="xsd:string" />
            <xsd:element name="creationDate" type="xsd:date" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>