xsd/CarrierNameCode.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.aapt.com.au/FrontierLink/xsd"
            xmlns="http://www.w3.org/2001/XMLSchema"
	        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	        xmlns:wsg="http://www.aapt.com.au/FrontierLink/xsd"
	        elementFormDefault="qualified">

    <xsd:include schemaLocation="elements/CarrierName.xsd" />
    <xsd:include schemaLocation="elements/CarrierCode.xsd" />

    <xsd:complexType name="CarrierNameCode">
        <xsd:sequence>
            <xsd:element name="name" type="wsg:CarrierName" />
            <xsd:element name="code" type="wsg:CarrierCode" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
