xsd/DhcpRelay.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.aapt.com.au/FrontierLink/xsd"
            xmlns="http://www.w3.org/2001/XMLSchema"
	        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	        xmlns:wsg="http://www.aapt.com.au/FrontierLink/xsd"
	        elementFormDefault="qualified">

    <xsd:include schemaLocation="elements/IpAddress.xsd" />

    <xsd:complexType name="DhcpRelay">
        <xsd:sequence>
            <xsd:element name="ipHelperAddress1" type="wsg:IpAddress" />
            <xsd:element name="ipHelperAddress2" type="wsg:IpAddress" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
