xsd/Dropouts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.aapt.com.au/FrontierLink/xsd"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:wsg="http://www.aapt.com.au/FrontierLink/xsd"
            elementFormDefault="qualified">

    <xsd:element name="Dropouts" type="wsg:Dropouts" />

    <xsd:complexType name="Dropouts">
        <xsd:sequence>
            <xsd:element name="dropoutsPerDay" type="xsd:string" />
            <xsd:element name="averageDuartion" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>