xsd/GeoCoordinates.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.aapt.com.au/FrontierLink/xsd"
            xmlns="http://www.w3.org/2001/XMLSchema"
	        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	        xmlns:wsg="http://www.aapt.com.au/FrontierLink/xsd"
	        elementFormDefault="qualified">

    <xsd:complexType name="GeoCoordinates">
        <xsd:sequence>
            <xsd:element name="latitude" type="xsd:string" />
            <xsd:element name="longitude" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>