xsd/LineDelay.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.aapt.com.au/FrontierLink/xsd"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:wsg="http://www.aapt.com.au/FrontierLink/xsd"
            elementFormDefault="qualified">

    <xsd:include schemaLocation="elements/Millisecond.xsd" />

    <xsd:complexType name="LineDelay">
        <xsd:sequence>
            <xsd:element name="up" type="wsg:Millisecond" />
            <xsd:element name="down" type="wsg:Millisecond" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>