xsd/RebillRecord.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.aapt.com.au/FrontierLink/xsd"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:wsg="http://www.aapt.com.au/FrontierLink/xsd"
            elementFormDefault="qualified">

    <xsd:complexType name="RebillRecord">
        <xsd:sequence>
            <element name="response" type="xsd:string" minOccurs="0" />
            <element name="date" type="xsd:date" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
