xsd/SiteDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.aapt.com.au/FrontierLink/xsd" 
			xmlns="http://www.w3.org/2001/XMLSchema" 
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
			xmlns:wsg="http://www.aapt.com.au/FrontierLink/xsd" 
			elementFormDefault="qualified">

    <xsd:include schemaLocation="Contact.xsd" />
    <xsd:include schemaLocation="SiteAddress.xsd" />

    <xsd:complexType name="SiteDetails">
        <xsd:sequence>
            <xsd:element name="siteAddress" type="wsg:SiteAddress" />
            <xsd:element name="siteContact" type="wsg:Contact" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>