xsd/SpeedIssue.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.aapt.com.au/FrontierLink/xsd"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:wsg="http://www.aapt.com.au/FrontierLink/xsd"
            elementFormDefault="qualified">

    <xsd:include schemaLocation="Attachment.xsd" />

    <xsd:complexType name="SpeedIssue">
        <xsd:sequence>
            <xsd:element name="roundTripTimeInMs" type="xsd:double" />
            <xsd:element name="attachment" type="wsg:Attachment" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>