xsd/VpiVci.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.aapt.com.au/FrontierLink/xsd"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:wsg="http://www.aapt.com.au/FrontierLink/xsd"
            elementFormDefault="qualified">

    <xsd:include schemaLocation="elements/VPI.xsd" />
    <xsd:include schemaLocation="elements/VCI.xsd" />

    <xsd:complexType name="VpiVci">
        <xsd:sequence>
            <xsd:element name="vpi" type="wsg:VPI" />
            <xsd:element name="vci" type="wsg:VCI" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>